@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  body {
    @apply bg-bgBody_l dark:bg-bgBody_d;
  }
  [data-tooltip]:hover .tool-tip {
    display: block;
  }
  .string-404 {
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: move 4s infinite;
    overflow: hidden;
  }

  .string-404-root {
    position: relative;
    top: 0;
    animation: white-out 5s infinite;
  }

  @keyframes move {
    25% {
      transform: translatey(-25%);
    }
    50% {
      transform: translatey(-50%);
    }
    75% {
      transform: translatey(-75%);
    }
  }
}
